.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.008202;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.168000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.840000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-2.520000px;}
.ws2{word-spacing:-2.394000px;}
.ws7{word-spacing:-1.134000px;}
.ws5{word-spacing:-0.168000px;}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:0.210000px;}
.ws6{word-spacing:3.360000px;}
.ws3{word-spacing:8.820000px;}
._1{margin-left:-2.296800px;}
._0{margin-left:-1.087200px;}
.fc1{color:rgb(35,31,32);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:42.000000px;}
.fs0{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y7{bottom:27.633400px;}
.y6{bottom:43.633400px;}
.y5{bottom:59.633400px;}
.y4{bottom:75.633400px;}
.y3{bottom:91.633400px;}
.y12{bottom:223.739100px;}
.y11{bottom:237.739100px;}
.y10{bottom:265.739100px;}
.yf{bottom:279.739100px;}
.ye{bottom:307.739100px;}
.yd{bottom:321.739100px;}
.yc{bottom:335.739100px;}
.yb{bottom:363.739100px;}
.ya{bottom:377.739100px;}
.y9{bottom:405.739100px;}
.y8{bottom:419.739100px;}
.y2{bottom:593.722100px;}
.y1{bottom:618.722100px;}
.h3{height:30.930000px;}
.h4{height:37.842000px;}
.h2{height:53.022857px;}
.h0{height:765.354000px;}
.h1{height:765.500000px;}
.w0{width:595.276000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x1{left:58.110200px;}
.x2{left:112.658000px;}
.x3{left:184.251500px;}
.x6{left:191.360200px;}
.x4{left:210.249600px;}
.x5{left:229.558700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-1.120000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws1{word-spacing:-3.360000pt;}
.ws2{word-spacing:-3.192000pt;}
.ws7{word-spacing:-1.512000pt;}
.ws5{word-spacing:-0.224000pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:0.280000pt;}
.ws6{word-spacing:4.480000pt;}
.ws3{word-spacing:11.760000pt;}
._1{margin-left:-3.062400pt;}
._0{margin-left:-1.449600pt;}
.fs1{font-size:56.000000pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:36.844533pt;}
.y6{bottom:58.177867pt;}
.y5{bottom:79.511200pt;}
.y4{bottom:100.844533pt;}
.y3{bottom:122.177867pt;}
.y12{bottom:298.318800pt;}
.y11{bottom:316.985467pt;}
.y10{bottom:354.318800pt;}
.yf{bottom:372.985467pt;}
.ye{bottom:410.318800pt;}
.yd{bottom:428.985467pt;}
.yc{bottom:447.652133pt;}
.yb{bottom:484.985467pt;}
.ya{bottom:503.652133pt;}
.y9{bottom:540.985467pt;}
.y8{bottom:559.652133pt;}
.y2{bottom:791.629467pt;}
.y1{bottom:824.962800pt;}
.h3{height:41.240000pt;}
.h4{height:50.456000pt;}
.h2{height:70.697143pt;}
.h0{height:1020.472000pt;}
.h1{height:1020.666667pt;}
.w0{width:793.701333pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1{left:77.480267pt;}
.x2{left:150.210667pt;}
.x3{left:245.668667pt;}
.x6{left:255.146933pt;}
.x4{left:280.332800pt;}
.x5{left:306.078267pt;}
}
